<html>
    <body>
            Hello, there!
            {% if data["name"] %}
                <br>
                Your name is {{data["name"]}}
                <br>
            {% endif %}
            <form method="POST">
                <table>
                    <tr>
                        <td>
                            <label for="name">Name</label> 
                        </td>
                        <td>  
                            <input type="text" id="name" name="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>

                        </td>      
                        <td>
                            <input type="text" id="password" name="password"/>
                        </td>          
                    </tr>
                </table>
                <button type="submit">Submit</button>
            </form>
    </body>
</html>