<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1>Quotes</h1>
    <hr>
    <table>
        {% for item in data %}
        <tr>
            <td>
                [{{item["owner"]}}]
            </td>
            <td>
                {{item["text"]}}
            </td>
            <td>
                <em>--</em>
                <em>{{item["author"]}}</em>
            </td>
            <td>
                [
                <a href="/edit/{{item['_id']}}"><i class="material-icons">mode_edit</i></a>
                <a href="/delete/{{item['_id']}}"><i class="material-icons">delete</i></a>
                ]
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <h3>Comments</h3>
                {% for comment in item['comments'] %}
                    <div>{{comment['user']}}: {{comment['text']}}</div>
                {% endfor %}
                <form action="/comment" method="post">
                    <input type="hidden" name="quote_id" value="{{item['_id']}}">
                    <textarea name="text" placeholder="Add a comment"></textarea><br>
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <a href="/add">Add a new quote!</a>
    <hr />
    User = {{user}} (<a href="/logout">Logout</a>)
</body>
</html>
