<html>
    <body>
        <h1>Quotes</h1>
        <hr>
        <table>
            {% for item in data %}
            <tr>
                <td>
                    {{item["text"]}}
                </td>
                <td>
                    <em>--</em>
                    <em>{{item["author"]}}</em>
                </td>
                <td>
                    [
                    <a href="/delete/{{item['_id']}}">{{item["_id"]}}</a>
                    ]
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>